!!!
html
  head
    meta('charset' = 'utf-8')
    title CommonPlay
  body
    script
      (function () {
        this.sessionStorage.setItem('commonplayMediaFragment', '!{fragment}');
        this.location.replace("#{parentUrl}");
      }).call(window);
